<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="info">
        <h1 align=center> &#127891 Домашняя работа №14</h1>
        <hr>
        <h3 align=center> &#128101 Привет наставник! Для удобства проверки работы я решил сверстать эту страничку, чтобы не надо было лезть за URL-ами &#128521 </h3>
        <hr>
        <h3 align=center> &#9989 Что бы проверить шаг 1 в адресную строку введите: /movie/"название фильма"/</h3>
        <h3 align=center> Например:   /movie/Love/</h3>
        <hr>
        <h3 align=center> &#9989 Что бы проверить шаг 2 в адресную строку введите: /movie/"год от какого начать поиск"/to/"до какого года искать"</h3>
        <h3 align=center> Например: /movie/2000/to/2010/</h3>
        <hr>
        <h3 align=center> &#9989 Что бы проверить шаг 3 в адресную строку введите: /rating/"категория"</h3>
        <h3 align=center> Например:   /rating/Adult/ - категория отрабатывает в любом регистре </h3>
        <hr>
        <h3 align=center>  &#9989 Что бы проверить шаг 4 в адресную строку введите: /genre/"название жанра"</h3>
        <h3 align=center> Например:   /genre/Sports Movies/</h3>
        <hr>
        <h1 align=center> &#128330 Спасибо за внимание! Всего Наилучшего! &#128330</h1>

    </div>
</body>
</html>